### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### server ###
logs
server/.gradle
server/**/out/
server/**/build/
server/!gradle/wrapper/gradle-wrapper.jar
server/!**/src/main/**
server/!**/src/test/**
server/src/main/generated
server/momo-api/src/main/resources/static/docs
