|===
|필드명|타입|설명|필수 여부

{{#fields}}
    |{{#tableCellContent}}`+{{path}}+`{{/tableCellContent}}
    |{{#tableCellContent}}`+{{type}}+`{{/tableCellContent}}
    |{{#tableCellContent}}`+{{description}}+`{{/tableCellContent}}
    |{{#tableCellContent}}{{^optional}}필수{{/optional}}{{/tableCellContent}}
{{/fields}}

|===